{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}網路mentor｜TFT支持系統{% endblock %}
{% block meta %}
  {% load static from staticfiles %}
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
{% endblock %}
{% block content %}
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
      {% endif %}
{% endblock %}
			

            <!--/span-->
                        <br/>
                        <div class="panel panel-default">
                            <div class="panel-heading">網路mentor資訊</div>
                            <div class="panel-body">

										<div style="width:100%" class="table">
											<table border="0px" width="100%" height="580">
														<tr>
															<td><strong>領域</strong></td>
															<td><strong>姓名</strong></td>
															<td><strong>服務單位</strong></td>
															<td><strong>email</strong></td>
														</tr>
														
														<tr>
															<td>國語教學</td>
															<td>莊春貴</td>
															<td>嘉義市宣信國小</td>
															<td>1058@sses.cy.edu.tw</td>
														</tr>
														
														<tr>
															<td>英文教學</td>
															<td>林淑熹</td>
															<td>台南市崑山國小</td>
															<td>susie_lin7@yahoo.com.tw</td>
														</tr>

														<tr>
															<td>自然教學</td>
															<td>鍾昌宏</td>
															<td>台中 國中生物科老師</td>
															<td>justmurmur@gmail.com</td>
														</tr>
														<tr>
															<td>自然教學</td>
															<td>陳信宏</td>
															<td>台東 國中自然科教師</td>
															<td>bred0937@gmail.com</td>
														</tr>

														<tr>
															<td>社會教學</td>
															<td>江淑真</td>
															<td>師大研究員</td>
															<td>chiang.80@osu.edu</td>
														</tr>
														<tr>
															<td>社會教學</td>
															<td>郭至和</td>
															<td>台中建功國小</td>
															<td></td>
														</tr>

														<tr>
															<td>數學教學</td>
															<td>胡哲瑋</td>
															<td>新竹實驗小學</td>
															<td>jacky80336@gmail.com</td>
														</tr>

														<tr>
															<td>原住民領域</td>
															<td>王雅萍</td>
															<td>政大民族系老師</td>
															<td>ongnccu@gmail.com</td>
														</tr>

														<tr>
															<td>班級經營</td>
															<td>胡錦秀</td>
															<td>高雄莊敬國小</td>
															<td>showhu55@yahoo.com.tw</td>
														</tr>
													
														<tr>
															<td>特殊教育</td>
															<td>王姝文</td>
															<td></td>
															<td>wendywang728@gmail.com</td>
														</tr>
														<tr>
															<td>特殊教育</td>
															<td>林彥同</td>
															<td>台南新南國小資源班</td>
															<td>yenton@hotmail.com</td>
														</tr>
														
														<tr>
															<td>學生行為輔導</td>
															<td>蕭怡君</td>
															<td>新北市廣福國小專任輔導教師</td>
															<td>happyclass10@yahoo.com.tw</td>
														</tr>
														
														<tr>
															<td>音樂教學</td>
															<td>廖怡欣</td>
															<td></td>
															<td>niaohsin@gmail.com</td>
														</tr>
														
											</table>
									</div>
										
							</div>
                        </div>
            <!--/span-->
{% endblock %}  	
