{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}一對一mentor｜TFT支持系統{% endblock %}

{% block content %}
<!--
  <div class="white-box">
-->
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
      {% endif %}
    {% endblock %}
    		<!--
    		<div class="col-xs-12 col-sm-7">
                <div class="row-fluid">
                    <div class="span4">
            -->    
                        <br/>
                        <div class="panel panel-default">
                            <div class="panel-heading">一對一mentor資訊</div>
                            <div class="panel-body">

										<div style="width:100%" class="table">
											<table  border="0"  width="100%" height="580">
												<tr>
													<td><strong>姓名</strong></td>
													<td><strong>服務單位</strong></td>
													<td><strong>email</strong></td>
												</tr>
												<tr></tr>
												<tr>
													<td>顏冠明</td>
													<td>台東市康樂國小</td>
													<td>jackycofe@yahoo.com.tw</td>		
												</tr>
												<tr>
													<td>楊惠如</td>
													<td>台東市寶桑國中</td>
													<td>Rita04161979@gmail.com</td>
												</tr>
												<tr>
													<td>余青彥</td>
													<td>台東市寶桑國中</td>	
													<td>fishcute0422@gmail.com</td>
												</tr>
												<tr>
													<td>胡錦秀</td>
													<td>高雄市莊敬國小</td>	
													<td>showhu55@yahoo.com.tw</td>
												</tr>
												<tr>
													<td>蔡佩芬</td>
													<td>高雄市民權國小</td>	
													<td>zzavon@yahoo.com.tw</td>
												</tr>
												<tr>
													<td>王瑀玲</td>
													<td>高雄市民權國小</td>	
													<td>shi.mu.mudras@gmail.com</td>
												</tr>
												<tr>
													<td>蔡雅泰</td>
													<td>高雄市民權國小</td>	
													<td>tsaiyatai@gmail.com</td>
												</tr>
												<tr>
													<td>林淑熹</td>
													<td>台南市崑山國小</td>	
													<td>susie_lin7@yahoo.com.tw</td>
												</tr>
												<tr>
													<td>胡哲瑋</td>
													<td>新竹實驗小學</td>
													<td>jacky80336@gmail.com</td>	
												</tr>
												<tr>
													<td>侯慧芳</td>
													<td>台北市文化國小</td>	
													<td>surf830322@gmail.com</td>
												</tr>
												<tr>
													<td>張志全</td>
													<td>臺南市佳興國小</td>	
												</tr>
												<tr>
													<td>杜媛媛</td>
													<td>台中市萬和國中</td>	
												</tr>
												<tr>
													<td>王琇嫻</td>
													<td>台中女中</td>	
												</tr>
												<tr>
													<td>邱馨慧</td>
													<td>台北市文化國小</td>	
												</tr>
												
											</table>
											
											
										</div>
									</div>	
							</div>
							<!--
                        </div>
                    </div>
                </div>
            
            </div>
           -->
{% endblock %}  
