{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

<!DOCTYPE html>

{%block content%}
<!--jean-->
<div class="panel panel-default">
    <div class="panel-heading">發表文章</div>
    <div class="panel-body">
		<form action="" method = "post" padding-bottom="10px">{% csrf_token%}
			<div class="control-group">
				<div class="controls">
					<textarea id="id_title" name="title" type="text"  class="form-control" placeholder="文章標題"rows="1"></textarea><br/>
				    <textarea id="id_context" name="context" type="text" value="" class="form-control" placeholder="說點話吧"rows="3"></textarea>
				    
				</div> 
				                    
				<div class="span4">
					<label style="margin-top:10px" class="control-lebel" for="tag">請選擇分類：</label>
					<select required style="margin-top:10px" class="btn btn-primary" id="id_tag1" name="tag1">
						<option value></option>
					    <optgroup label="分享"> 
					        <option id="id_tag1" name="tag1" value="心情分享">心情分享</option>
					        <option id="id_tag1" name="tag1" value="教學日誌">教學日誌</option>
					        <option id="id_tag1" name="tag1" value="教學週誌">教學週誌</option>
					    <optgroup label="提問"> 
					        <option id="id_tag2" name="tag2" value="教學方法">教學方法</option>
				        	<option id="id_tag2" name="tag2" value="班級經營">班級經營</option>
				        	<option id="id_tag2" name="tag2" value="行為輔導">行為輔導</option>
				        	<option id="id_tag2" name="tag2" value="特教輔導">特教輔導</option>
				        	<option id="id_tag2" name="tag2" value="學校行政">學校行政</option>
				        	<option id="id_tag2" name="tag2" value="親師溝通">親師溝通</option>
					</select>

					<!--
					<label class="control-lebel" for="tag">分享標籤:</label>
					<select id="id_tag1" name="tag1" class="btn btn-warning"> 
				        	<option id="id_tag1" name="tag1" value=""></option>
				        	<option id="id_tag1" name="tag1" value="心情分享">心情分享</option>
				        	<option id="id_tag1" name="tag1" value="教學日誌">教學日誌</option>
				        	<option id="id_tag1" name="tag1" value="教學週誌">教學週誌</option>
				    </select>
				    &nbsp;
				    <label class="control-lebel" for="tag">提問標籤:</label>
				    <select id="id_tag2" name="tag2" class="btn btn-success" >
				        	<option id="id_tag2" name="tag2" value=""></option>
				        	<option id="id_tag2" name="tag2" value="教學方法">教學方法</option>
				        	<option id="id_tag2" name="tag2" value="班級經營">班級經營</option>
				        	<option id="id_tag2" name="tag2" value="行為輔導">行為輔導</option>
				        	<option id="id_tag2" name="tag2" value="特教輔導">特教輔導</option>
				        	<option id="id_tag2" name="tag2" value="學校行政">學校行政</option>
				        	<option id="id_tag2" name="tag2" value="親師溝通">親師溝通</option>
				    </select>
				    &nbsp;
					-->

					<input id="id_author" name="author" value={{user.username}} type="hidden">
				    <input style="margin-top:10px;margin-left:320px" type="submit" class="btn btn-primary" value="送出">
				</div>
			</div>
		</form>
	</div>
</div>

<!--discuss_origin-->
<div class="control-group">
            <!--/span-->
                <div class="row-fluid">
                    <div class="span4">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#A" data-toggle="tab">綜合</a></li>
                            <li class=""><a href="#B" data-toggle="tab">心情分享</a></li>
                            <li class=""><a href="#C" data-toggle="tab">日誌</a></li>
                            <li class=""><a href="#D" data-toggle="tab">週誌</a></li>
                            <li class=""><a href="#E" data-toggle="tab">提問</a></li>
                        </ul>
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane active" id="A">
                                	<table class="table table-striped table-hover " >
                                	<thead>
										<tr>
											<th width="20%">分類</th>
											<th width="50%">標題</th>
											<th width="5%">作者</th>
											<th width="25%">時間</th>
										</tr>
									</thead>
									<tbody>
                                    {% for post in object_list %}
										<tr>
											<td width="15%">
											{% if post.tag1 == "心情分享" or post.tag1 == "教學日誌" or post.tag1 == "教學週誌"%}
												<button class="btn btn-warning btn-block btn-primary" typle="button">{{ post.tag1 }}</button>
											{%endif%}
											{% if post.tag1 == "教學方法" or post.tag1 == "班級經營" or post.tag1 == "行為輔導" or post.tag1 == "特教輔導" or post.tag1 == "學校行政" or post.tag1 == "親師溝通" %}
												<button class="btn btn-success btn-block btn-primary" typle="button">{{ post.tag1 }} </button>
											{%endif%}
											</td>
											<td ><a href="/posts/list/{{ post.id }}/detail" >{{ post.title }}</a><br>
												<div style="width: 400px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;">
													{{ post.context }}
												</div>	
											</td>
											<td width="15%"><a href='accounts/(?P<username>(?!signout|signup|signin)[\\.\\w-]+)/$'>{{user.username}}</a></td>
											<td width="15%" > {{ post.time }}</td>
										</tr>
									
									{% endfor %}
									</tbody>
									</table>
                                </div>
								<div class="tab-pane" id="B">
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th width="20%">分類</th>
												<th width="50%">標題</th>
												<th width="5%">作者</th>
												<th width="25%">時間</th>
											</tr>
										</thead>
										<tbody>
											{% for post in object_list %}
											<tr>
												{% if post.tag1 == "心情分享" %}
												<td width="15%">
													{% if post.tag1 == "心情分享" %}
													<button class="btn btn-warning btn-block btn-primary" typle="button">{{ post.tag1 }}</button>
													{%endif%}
												</td>
												<td ><a href="/posts/list/{{ post.id }}/detail" >{{ post.title }}</a><br>
													<div style="width: 400px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;">
														{{ post.context }}
													</div>	
												</td>
												<td width="15%"><a href='accounts/(?P<username>(?!signout|signup|signin)[\\.\\w-]+)/$'>{{user.username}}</a></td>
												<td width="15%" > {{ post.time }}</td>
												{%endif%}
											</tr>
											{% endfor %}
										</tbody>
									</table> 
								</div>

								<div class="tab-pane" id="C">
									<!--<div id="timeline"> 
										<ul id="dates"> 
											<li><a href="#6">6月</a></li> 
											<li><a href="#7">7月</a></li> 
											<li><a href="#8">8月</a></li>
										</ul> 
									</div>-->
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th width="15%">分類</th>
												<th>標題</th>
												<th width="15%">作者</th>
												<th width="15%">時間</th>
											</tr>
										</thead>
										<tbody>
											{% for post in object_list %}
											{% if post.tag1 == "教學日誌" %}
											<tr>
												<td width="15%">
													<button class="btn btn-warning btn-block btn-primary" typle="button">{{ post.tag1 }}</button> 
												<td ><a href="/posts/list/{{ post.id }}/detail" >{{ post.title }}</a><br>
											<div style="width: 400px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;">
												{{ post.context }}
											</div>	
										</td>
												<td width="15%"><a href="personal_info.html">{{user.username}}</a></td>
												<td width="15%" > {{ post.time }}</td>
											</tr>
											{%endif%}
											{%endfor%}
										</tbody>
									</table>
								</div>
								
								<div class="tab-pane" id="D">
									<!--<div id="timeline"> 
										<ul id="dates"> 
											<li><a href="#6">6月</a></li> 
											<li><a href="#7">7月</a></li> 
											<li><a href="#8">8月</a></li>
										</ul> 
									</div>-->
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th width="15%">分類</th>
												<th>標題</th>
												<th width="15%">作者</th>
												<th width="15%">時間</th>
											</tr>
										</thead>
										<tbody>
										{%for post in object_list%}
										{% if post.tag1 == "教學週誌" %}
											<tr>
												<td width="15%">
													<button class="btn btn-warning btn-block btn-primary" typle="button">{{ post.tag1 }}</button>
												<td ><a href="/posts/list/{{ post.id }}/detail" >{{ post.title }}</a><br>
													<div style="width: 400px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;">
														{{ post.context }}
													</div>	
												</td>
												<td width="15%"><a href="personal_info.html">{{user.username}}</a></td>
												<td width="15%" > {{ post.time }}</td>
											</tr>
											{%endif%}
											{%endfor%}
										</tbody>
									</table>
								</div>
								
								
								<div class="tab-pane" id="E">
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th width="20%">分類</th>
												<th width="50%">標題</th>
												<th width="5%">作者</th>
												<th width="25%">時間</th>
											</tr>
										</thead>
										<tbody>
											{% for post in object_list %}
											<tr>
												{% if post.tag1 == "教學方法" or post.tag1 == "班級經營" or post.tag1 == "行為輔導" or post.tag1 == "特教輔導" or post.tag1 == "學校行政" or post.tag1 == "親師溝通" %}
												<td width="15%">
													{% if post.tag1 == "教學方法" or post.tag1 == "班級經營" or post.tag1 == "行為輔導" or post.tag1 == "特教輔導" or post.tag1 == "學校行政" or post.tag1 == "親師溝通" %}
													<button class="btn btn-success btn-block btn-primary" typle="button">{{ post.tag1 }} </button>
													{%endif%}
												</td>
												<td ><a href="/posts/list/{{ post.id }}/detail" >{{ post.title }}</a><br>
												<div style="width: 400px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;">
													{{ post.context }}
												</div>	
											</td>
											<td width="15%"><a href='accounts/(?P<username>(?!signout|signup|signin)[\\.\\w-]+)/$'>{{user.username}}</a></td>
											<td width="15%" > {{ post.time }}</td>
												{%endif%}
											</tr>
											{% endfor %}
										
											  <!--<td width="9%"><button class="btn btn-success btn-block btn-primary" typle="button">已解決</button></td>
											  <td width="9%"><button class="btn btn-danger btn-block btn-primary" typle="button">待解決</button></td>
											  -->
										</tbody>
									</table>
								</div>
							</div> <!-- /tabbable -->
						</div>
					</div>
				</div> <!--??-->


            <!--/span-->
			
        </div>

    <!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bundles/bootstrapSourceJS?v=XkouIldXq_pPzIiEbylJIGwgBv2qYDSef1Dnn06aIkQ1"></script>


</body>
</html>
{% endblock %}
