{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
<div class="panel panel-default" style="word-break:break-all">
    <div class="panel-heading">編輯公告</div>
	<div class="panel-body">
		<form action="/posts/bulletin/{{data.id}}/edit/" method = "post" padding-bottom="10px">{% csrf_token%}
			<div class="control-group">
				<div class="controls">
					<textarea id="id_title" name="title" type="text"  class="form-control" placeholder="公告標題"rows="1">{{data.title}}</textarea><br/>
				    <textarea id="id_context" name="context" type="text" value="" class="form-control" placeholder="公告內容"rows="10">{{data.context|linebreaks}}</textarea>
				    <textarea id="id_infourl" name="infourl" type="text" value="" class="form-control" placeholder="公告內容"rows="2">{{data.info_url|linebreaks}}</textarea>
				</div> 
				                    
				<div class="span4">
				    <div align="right">
            			<button type="button" class="btn btn-default" onclick="history.back()">取消</button>
            			<input type="submit" class="btn btn-primary" value="{% trans "確定更新" %}" />
        			</div>
				</div>
			</div>
		</form>

	</div>
</div>


{% endblock%}