{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}s

{% block title %}{% trans "Files" %}{% endblock %}

{% block content %}
    <!-- Upload form. Note enctype attribute! -->
    <h3 id="tabs">檔案上傳區</h3>
    <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p> {{ form.docfile.help_text }}</p>
    <p>
        {{ form.docfile.errors }}
        {{ form.docfile }}
        <input id="id_author" name="author" value={{user.username}} type="hidden">
        <input type="submit" value="送出" class="btn btn-primary" padding-top="5px" />
    </p>
    </form>
      

    <table  class="table table-striped table-hover">
    <tr>
        <td><strong>母分類</strong></td>
        <td><strong>子分類</strong></td>
        <td><strong>標題</strong></td>
        <td><strong>作者</strong></td>
        <td><strong>日期</strong></td>
    </tr>

    {% if documents %}
    
        {% for document in documents %}
        <tr>
            <td><button class="btn btn-warning btn-block btn-primary" typle="button">會議記錄</button></td>
            <td><button class="btn btn-success btn-block btn-primary" typle="button">台南小學</button></td>
            <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
            <td>{{document.author}}</td>
            <td>{{document.time}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No documents.</p>
    {% endif %}     
 
{% endblock %}

		