{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}s

{% block title %}{% trans "Files" %}{% endblock %}

{% block content %}
    <!-- Upload form. Note enctype attribute! -->
<div class="panel panel-default">
    <div class="panel-heading">檔案上傳</div>
    <div class="panel-body">
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.docfile.help_text }}
            {{ form.docfile.errors }}
            {{ form.docfile }}
            </br>
            <label class="control-label" for="tag">檔案分類標籤:</label>
            <select id="id_doctypeTag" name="doctypeTag" class="btn">
                <option  value=""></option>
                <option  value="會議記錄">會議記錄</option>
                <option  value="教學企劃">教學企劃</option>
                <option  value="教材檔案">教材檔案</option>
                <option  value="學校行政">學校行政</option>
                <option  value="教學成果">教學成果</option>
            </select>
            <label class="control-label" for="tag">學校:</label>
            <select id="id_schoolnameTag" name="schoolnameTag" class="btn">
                <option  value=""></option>
                <option  value="仁光國小">仁光國小</option>
                <option  value="甲中國小">甲中國小</option>
                <option  value="新山國小">新山國小</option>
                <option  value="內角國小">內角國小</option>
                <option  value="廣原國小">廣原國小</option>
                <option  value="瑞源國小">瑞源國小</option>
                <option  value="萬安國小">萬安國小</option>
                <option  value="永安國小">永安國小</option>
            </select>
            &nbsp;
            <input type="submit" value="送出" class="btn btn-primary" padding-top="5px" />
        </form>
    </div>
</div>
  
 

<div class="control-group">
            <!--/span-->
                <div class="row-fluid">
                    <div class="span4">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#A" data-toggle="tab">綜合</a></li>
                            <li class=""><a href="#B" data-toggle="tab">會議記錄</a></li>
                            <li class=""><a href="#C" data-toggle="tab">教學企劃</a></li>
                            <li class=""><a href="#D" data-toggle="tab">教材檔案</a></li>
                            <li class=""><a href="#E" data-toggle="tab">學校行政</a></li>
                            <li class=""><a href="#F" data-toggle="tab">教學成果</a></li>
                        </ul>
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane active" id="A">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <td><strong>子分類</strong></td>
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>
                                        <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
                                        <td>{{document.author.user}}</td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %} 
                                    </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="B">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <td><strong>子分類</strong></td>
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "會議記錄" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>
                                        <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
                                        <td>{{document.author.user}}</td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %} 
                                    </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="C">
                                    <!--<div id="timeline"> 
                                        <ul id="dates"> 
                                            <li><a href="#6">6月</a></li> 
                                            <li><a href="#7">7月</a></li> 
                                            <li><a href="#8">8月</a></li>
                                        </ul> 
                                    </div>-->
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <td><strong>子分類</strong></td>
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "教學企劃" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>
                                        <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
                                        <td>{{document.author.user}}</td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>
                                
                                <div class="tab-pane" id="D">
                                    <!--<div id="timeline"> 
                                        <ul id="dates"> 
                                            <li><a href="#6">6月</a></li> 
                                            <li><a href="#7">7月</a></li> 
                                            <li><a href="#8">8月</a></li>
                                        </ul> 
                                    </div>-->
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <td><strong>子分類</strong></td>
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "教材檔案" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>
                                        <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
                                        <td>{{document.author.user}}</td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>
                                
                                
                                <div class="tab-pane" id="E">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <td><strong>子分類</strong></td>
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "學校行政" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>
                                        <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
                                        <td>{{document.author.user}}</td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="F">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <td><strong>子分類</strong></td>
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "教學成果" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>
                                        <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
                                        <td>{{document.author.user}}</td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>

                            </div> <!-- /tabbable -->
                        </div>
                    </div>
                </div> <!--??-->


            <!--/span-->
            
        </div>



{% endblock %}

		