{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}
{% load filename %}

{% block title %}{% trans "Files" %}{% endblock %}

{% block content %}
    <!-- Upload form. Note enctype attribute! -->
<div class="panel panel-default">
    <div class="panel-heading">檔案上傳</div>
    <div class="panel-body">
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.docfile.help_text }}
            {{ form.docfile.errors }}
            {{ form.docfile }}
            </br>
            <label class="control-label" for="tag">檔案分類標籤:</label>
            <select required id="id_doctypeTag" name="doctypeTag" class="btn">
                <option  value=""></option>
                <optgroup label="培訓課程">
                <option  value="暑期培訓">暑期培訓</option>
                <option  value="期中培訓">期中培訓</option>
                <option  value="寒假培訓">寒假培訓</option>
                <optgroup label="教學觀摩">
                <option  value="教案設計">教案設計</option>
                <option  value="教材分享">教材分享</option>
                <option  value="成果交流">成果交流</option>
            </select>
            <!--<label class="control-label" for="tag">學校:</label>
            <select required id="id_schoolnameTag" name="schoolnameTag" class="btn">
                <option  value=""></option>
                <option  value="仁光國小">仁光國小</option>
                <option  value="甲中國小">甲中國小</option>
                <option  value="新山國小">新山國小</option>
                <option  value="內角國小">內角國小</option>
                <option  value="廣原國小">廣原國小</option>
                <option  value="瑞源國小">瑞源國小</option>
                <option  value="萬安國小">萬安國小</option>
                <option  value="永安國小">永安國小</option>
            </select>-->
            <!--workaround for schoolname-->
            <textarea id="id_title" name="title" type="text"  class="form-control" placeholder="檔案標題"rows="1" required></textarea><br/>
            <textarea id="id_description" name="description" type="text"  class="form-control" placeholder="檔案簡介"rows="6" required></textarea><br/>
            <input id="id_schoolnameTag" name="schoolnameTag" value="仁光國小" type="hidden">
            &nbsp;
            <input type="submit" value="送出" class="btn btn-primary" padding-top="5px" />
        </form>
    </div>
</div>
  
 

<div class="control-group">
            <!--/span-->
                <div class="row-fluid">
                    <div class="span4">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#A" data-toggle="tab">綜合</a></li>
                            <li class=""><a href="#B" data-toggle="tab">暑期培訓</a></li>
                            <li class=""><a href="#C" data-toggle="tab">期中培訓</a></li>
                            <li class=""><a href="#D" data-toggle="tab">寒假培訓</a></li>
                            <li class=""><a href="#E" data-toggle="tab">教案設計</a></li>
                            <li class=""><a href="#F" data-toggle="tab">教材分享</a></li>
                            <li class=""><a href="#G" data-toggle="tab">成果交流</a></li>
                        </ul>
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane active" id="A">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <!--<td><strong>子分類</strong></td>-->
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-info btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <!--<td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>-->
                                        <td><a href="{{ document.id }}">{{ document.title }}</a></td>
                                        <td><a href='/accounts/view/{{document.author.pk}}'>{{document.author.user}}</a></td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %} 
                                    </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="B">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <!--<td><strong>子分類</strong></td>-->
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "暑期培訓" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <!--<td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>-->
                                        <td><a href="{{ document.id }}">{{ document.docfile.name|filename }}</a></td>
                                        <td><a href='/accounts/view/{{document.author.pk}}'>{{document.author.user}}</a></td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %} 
                                    </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="C">
                                    <!--<div id="timeline"> 
                                        <ul id="dates"> 
                                            <li><a href="#6">6月</a></li> 
                                            <li><a href="#7">7月</a></li> 
                                            <li><a href="#8">8月</a></li>
                                        </ul> 
                                    </div>-->
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <!--<td><strong>子分類</strong></td>-->
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "期中培訓" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <!--<td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>-->
                                        <td><a href="{{ document.id }}">{{ document.docfile.name|filename }}</a></td>
                                        <td><a href='/accounts/view/{{document.author.pk}}'>{{document.author.user}}</a></td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>
                                
                                <div class="tab-pane" id="D">
                                    <!--<div id="timeline"> 
                                        <ul id="dates"> 
                                            <li><a href="#6">6月</a></li> 
                                            <li><a href="#7">7月</a></li> 
                                            <li><a href="#8">8月</a></li>
                                        </ul> 
                                    </div>-->
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <!--<td><strong>子分類</strong></td>-->
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "寒假培訓" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <!--<td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>-->
                                        <td><a href="{{ document.id }}">{{ document.docfile.name|filename }}</a></td>
                                        <td><a href='/accounts/view/{{document.author.pk}}'>{{document.author.user}}</a></td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>
                                
                                
                                <div class="tab-pane" id="E">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <!--<td><strong>子分類</strong></td>-->
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "教案設計" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <!--<td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>-->
                                        <td><a href="{{ document.id }}">{{ document.docfile.name|filename }}</a></td>
                                        <td><a href='/accounts/view/{{document.author.pk}}'>{{document.author.user}}</a></td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="F">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <!--<td><strong>子分類</strong></td>-->
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "教材分享" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <!--<td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>-->
                                        <td><a href="{{ document.id }}">{{ document.docfile.name|filename }}</a></td>
                                        <td><a href='/accounts/view/{{document.author.pk}}'>{{document.author.user}}</a></td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="G">
                                    <table  class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td><strong>母分類</strong></td>
                                        <!--<td><strong>子分類</strong></td>-->
                                        <td><strong>標題</strong></td>
                                        <td><strong>作者</strong></td>
                                        <td><strong>日期</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if documents %}
    
                                    {% for document in documents %}
                                    {% if document.doctypeTag == "成果交流" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-warning btn-block btn-primary" typle="button">{{ document.doctypeTag }}</button>
                                        </td>
                                        <!--<td><button class="btn btn-success btn-block btn-primary" typle="button">{{ document.schoolnameTag }}</button></td>-->
                                        <td><a href="/files/{{ document.id }}">{{ document.docfile.name|filename }}</a></td>
                                        <td><a href='/accounts/view/{{document.author.pk}}'>{{document.author.user}}</a></td>
                                        <td>{{document.time}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}  
                                    </tbody>
                                    </table>
                                </div>


                            </div> <!-- /tabbable -->
                        </div>
                    </div>
                </div> <!--??-->


            <!--/span-->
            
        </div>



{% endblock %}

		