{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}
{% load filename %}

<!DOCTYPE html>

{%block content%}
<!--discuss_origin-->
<div class="control-group">
    <div class="row-fluid">
        <div class="span4">
            <div class="tabbable">
            	<table class="table table-striped table-hover " >
	            	<thead>
						<tr>
							<th width="15%">分類</th>
							<th>標題</th>
							<th width="15%">作者</th>
							<th width="15%">時間</th>
						</tr>
					</thead>
					<tbody>
	                {% for post in alldata %}
	                	{% if post.tag1 != "announcement" %}
						<tr>
							<td width="15%">
							{% if post.tag1 != null %}
								<!--for post-->
								{% if post.tag1 == "心情札記" or post.tag1 == "教學日誌" or post.tag1 == "語文" or post.tag1 == "數學" or post.tag1 == "社會" or post.tag1 == "自然與生活科技" or post.tag1 == "藝術與人文" or post.tag1 == "健康與體育" or post.tag1 == "綜合學習領域" or post.tag1 == "低年級生活課程" or post.tag1 == "補救教學" or post.tag1 == "班級經營" or post.tag1 == "親師溝通" or post.tag1 == "個案輔導" or post.tag1 == "校務行政" %}
									<button class="btn btn-warning" type="button">{{ post.tag1 }}</button>
								{%endif%}
								{% if post.tag1 == "好書推薦" or post.tag1 == "研習講座" or post.tag1 == "教學資源" or post.tag1 == "聚會玩樂" or post.tag1 == "其他" %}
									<button class="btn btn-success btn-block btn-primary" type="button">{{ post.tag1 }} </button>
								{%endif%}
								{%else%}
								<!--for file-->
									<button class="btn btn-info btn-block btn-primary" type="button">{{ post.doctypeTag }} </button>
								{%endif%}
							</td>
							{% if post.tag1 != null%}
							<!--for post-->
							<td width="40%"><a href="/posts/list/{{ post.id }}/detail" >{{ post.title |linebreaks}}</a>
		                        <div style="width: 200px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;">
		                          {{ post.context |linebreaks}}
		                        </div>  
	                      	</td>
							{%else%}
							<!--for file-->
							<td width="40%"><a href="{{ post.docfile.url }}" >{{ post.docfile.name|filename }}</a></td>
							{%endif%}
							<td width="5%" ><a href='/accounts/view/{{post.author.pk}}'>{{post.author.user}}</a></td>
							<td width="30%" > {{ post.time }}</td>
						</tr>
						{% endif %}
					
					{% endfor %}
					</tbody>
				</table>
            </div>
		</div>
	</div>
</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bundles/bootstrapSourceJS?v=XkouIldXq_pPzIiEbylJIGwgBv2qYDSef1Dnn06aIkQ1"></script>


</body>
</html>
{% endblock %}
