<!--discuss_origin-->
<div class="control-group">
            <!--/span-->
                <div class="row-fluid">
                    <div class="span4">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#A" data-toggle="tab">專業進修</a></li>
                            <li class=""><a href="#B" data-toggle="tab">教學網站</a></li>
                            <li class=""><a href="#C" data-toggle="tab">相關機構</a></li>
                        </ul>
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane active" id="A">
                                	<table class="table table-striped table-hover " >
                                	<thead>
										<tr>
												<th width="15%">網站名稱</th>
												<th>網站網址</th>
										</tr>
									</thead>
									</table>
                                </div>

							</div> <!-- /tabbable -->
						</div>
					</div>
				</div> <!--??-->

            <!--/span-->
        </div>

    <!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bundles/bootstrapSourceJS?v=XkouIldXq_pPzIiEbylJIGwgBv2qYDSef1Dnn06aIkQ1"></script>

<?php
include_once "ckeditor/ckeditor.php";
$CKEditor = new CKEditor();
$CKEditor->basePath = 'ckeditor/';
$CKEditor->replace("context");
?>
</body>
</html>
{% endblock %}
