<!DOCTYPE html>
<html lang="en">
<head>
  {% load static from staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}登入｜TFT支持系統{% endblock %}</title>
   <!-- Bootstrap -->
  <link rel="shortcut icon" href="{% static 'img/NTU.jpg' %}" type="image/jpg">
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>



  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>

  {% block meta %}
  {% endblock %} <!-- too add more stuff in child templates if needed -->
{% block content_title %}{% endblock %}
{% load static from staticfiles %}


    <!-- Le styles -->
    <link href="/Content/bootstrap/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/Content/bootstrap/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/Scripts/bootstrap/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Images/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Images/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/Images/bootstrap/ico/favicon.png">
</head>

{% block body%}
{% endblock %}

<body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
 
<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="home.html">TFT支持系統</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input style="width:240px" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜尋</button><ul class="nav navbar-nav navbar-right"></ul>
            </form>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{ user.username }}</a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="{% url 'userena_profile_detail' user.username %}">個人檔案</a></li>
            <li><a href="index.html">登出</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div><!-- /container -->
</div>



    <div class="container">
        <div class="row row-offcanvas-left row-offcanvas row-offcanvas-right">
            <div class="col-xs-1 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group">
                    <ul class="nav" id="side-menu">
						<li>
                            <a href=""><i class="fa fa-personal fa-fw"></i>我發過的東西</a>
                        </li>
						<li>
                            <a href="discuss.html"><i class="fa fa-discuss fa-fw"></i>討論區</a>
                        </li>
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							檔案區
							<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
								<li><a tabindex="-1" href="#">會議記錄</a></li>
								<li><a tabindex="-1" href="#">教學企劃</a></li>
								<li><a tabindex="-1" href="#">教材檔案</a></li>
								<li><a tabindex="-1" href="#">教學成果</a></li>
							</ul>
						</div>
						<div class="btn-group"> 
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							教師資訊
							<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
								<li><a tabindex="-1" href="#">特教輔導</a></li>
								<li><a tabindex="-1" href="#">其他領域</a></li>
							</ul>
						</div>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!--/span-->
            <div class="col-xs-9 col-sm-7">
                {% block content %}
                {% endblock %}
            </div>
            <!--/span-->
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
				<div class="row-fluid">
                    <div class="span4">
						      <label class="control-label" for="textarea">公告欄</label>     
						<img src="{% static "img/blackboardjpg.jpg"%}">
						</img>
						<br/>
						<div class="controls">
									<textarea style="width:300px" class="form-control input-xlarge" id="textarea" rows="1"placeholder="Post the Announcement"></textarea>
									<br/>
						</div> 
						
                        
                    </div>
                </div>
			</div>
        </div>
        <!--/row-->

        
        <footer>
            <p>&copy; Teach For Taiwan 2014</p>
        </footer>

    </div>
    <!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bundles/bootstrapSourceJS?v=XkouIldXq_pPzIiEbylJIGwgBv2qYDSef1Dnn06aIkQ1"></script>


</body>
</html>
