<!DOCTYPE html>
<html lang="en">
<head>
  {% load static from staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
   <!-- Bootstrap -->
  <link rel="shortcut icon" href="{% static 'img/TFTslogo.gif' %}" type="image/jpg">
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>


  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  
 
  
{% block meta %}
{% endblock %} 

{% block content_title %}{% endblock %}
{% load static from staticfiles %}


    <!-- Le styles -->
    <link href="/Content/bootstrap/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/Content/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Images/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Images/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Images/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/Images/bootstrap/ico/favicon.png">
</head>

{% block body %}
{% endblock %}

<body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
 
<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="/">TFT支持系統</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><form class="navbar-form navbar-right" role="search" action="/home/" method="post">{% csrf_token %}
                <div class="form-group">
                    <input name="search" style="width:240px" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜尋</button><ul class="nav navbar-nav navbar-right"></ul>
            </form>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{ user.username }}</a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="{% url 'userena_profile_detail' user.username %}">個人檔案</a></li>
            
            <li><a href="/accounts/signout ">登出</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div><!-- /container -->
</div>



    <div class="container">
        <div class="row row-offcanvas-left row-offcanvas row-offcanvas-right">
            <div class="col-xs-1 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group">
            <ul class="nav" id="side-menu">
            <div class="btn-group"> 
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              我發過的東西
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a tabindex="-1" href="/pastpost_discuss">文章</a></li>
                <li><a tabindex="-1" href="/pastpost_file">檔案</a></li>
              </ul>
            </div>
            <li>
                <a href="/posts/list"><i class="fa fa-discuss fa-fw"></i>討論區</a>
            </li>
            <li>
                <a href="/files"><i class="fa fa-discuss fa-fw"></i>檔案區</a>
            </li>
            <li>
                <a href="/myfiles/">我的教學歷程檔案</a>
            </li>
            <li>
                <a href="link">相關連結</a>
            </li>
            <!--<div class="btn-group"> 
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              mentor資訊
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a tabindex="-1" href="/teacher/oneonone">一對一mentor</a></li>
                <li><a tabindex="-1" href="/teacher/nwmentor">網路mentor</a></li>
              </ul>
            </div>-->
            </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!--/span-->
            <div class="col-xs-9 col-sm-7">
                {% block content %}
                {% endblock %}
            </div>
            <!--/span-->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="row-fluid">
                  <div class="span4">
                    <div style="width:300px" class="panel panel-default">
                      <table class="table table-striped table-hover " >
                        <thead>
                          <tr>
                            <th style="width:30%;"><a href="/posts/bulletin/list/">公告欄</th>
                            <th style="width:30%;">
                            {% if perms.posts.add_bulletin %}
                              <a href="/posts/bulletin/create/" >發佈公告</a>
                            {% endif %}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for post in bulletins %}
                            {% if post.tag1 == 'announcement' %}
                            <tr>
                              <td><a href="/posts/bulletin/{{ post.id }}/detail" >{{ post.title }}</a></td>
                              <td>{{ post.author.user }}</td>
                              <td>{{ post.time }}</td>
                            </tr>
                            {% endif %}
                          <tr>
                            <td><a data-toggle="modal" href="#futrulai"  >{{ post.title }}</a></td>
                                <div id="futrulai" class="modal fade" tabindex="-1"role="dialog" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h3>{{ post.title }}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div id="wrap">
                                          <div id="content" style="word-break:break-all">
                                            {{ post.context }}
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" data-dismiss="modal" class="btn">Close</button> 
                                    </div>
                                </div>
                                </div>
                            <td>{{ post.author.user }}</td>
                            <td>{{ post.time }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bundles/bootstrapSourceJS?v=XkouIldXq_pPzIiEbylJIGwgBv2qYDSef1Dnn06aIkQ1"></script>


</body>
</html>