{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
  <div class="white-box">
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
      {% endif %}
{% endblock %}

<script>
  function cancel(input) {
    answer = confirm("你確定要刪除此文章嗎？");
    if (answer){
      document.forms["deletefile"].elements.post.value = input;
      document.forms["deletefile"].submit();
    }
  }
</script>
    
<div class="panel panel-default">
      <div class="panel-heading">{{ user.username }} 的文章</div>
    <div class="panel-body">
        <div class="tabbable">
          <table class="table table-striped table-hover " >
            <thead>
              <tr>
                  <th>分類</th>
                  <th>標題</th>
                  <th>作者</th>
                  <th>時間</th>
                  <th>編輯</th>
                  <th>刪除</th>
              </tr>
            </thead>
            <tbody>
              <form name="deletefile" method="post" >{% csrf_token %}
            {% for post in posts %}
              <tr>
                <td>
                {% if post.tag1 == "心情札記" or post.tag1 == "教學日誌" or post.tag1 == "語文" or post.tag1 == "數學" or post.tag1 == "社會" or post.tag1 == "自然與生活科技" or post.tag1 == "藝術與人文" or post.tag1 == "健康與體育" or post.tag1 == "綜合學習領域" or post.tag1 == "低年級生活課程" or post.tag1 == "補救教學" or post.tag1 == "班級經營" or post.tag1 == "親師溝通" or post.tag1 == "個案輔導" or post.tag1 == "校務行政" %}
                  <button class="btn btn-warning btn-block btn-primary" type="button">{{ post.tag1 }}</button>
                {%endif%}
                {% if post.tag1 == "好書推薦" or post.tag1 == "研習講座" or post.tag1 == "教學資源" or post.tag1 == "聚會玩樂" or post.tag1 == "其他" %}
                  <button class="btn btn-success btn-block btn-primary" type="button">{{ post.tag1 }} </button>
                {%endif%}
                </td>
                <td><a href="/posts/list/{{ post.id }}/detail" >{{ post.title |linebreaks}}</a>
                  <div style="width: 200px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;">
                    {% autoescape off %}
                    {{ post.context |linebreaks}}
                    {% endautoescape %}
                  </div>  
                </td>
                <td><a href='/accounts/view/{{post.author.pk}}'>{{post.author.user}}</a></td>
                <td> {{ post.time }}</td>
                <td><a href="/posts/list/{{ post.id }}/edit" >編輯</a></td>
                <td><a onClick="cancel({{post.pk}})">刪除</a></td>
              </tr>
            {% endfor %}
              <input type="hidden" id="post" name="post" value="" />
              </form>
            </tbody>
          </table>
          </div>
    </div>
  </div>
       
    </div>
{% endblock %}   
