{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}
{% block content %}

<form action="" method = "post">{% csrf_token%}

<div class="control-group"> <!-- 輸入訊息-->
	<label class="control-label" for="textarea">留言板</label>
	<div class="controls">
		<textarea id="id_title" name="title" type="text" value="" class="form-control" placeholder="文章標題"rows="1"></textarea>
	    <textarea id="id_context" name="context" type="text" value="" class="form-control" placeholder="說點話吧"rows="3"></textarea>
	</div>                        
	<div class="span4"><!--tags and send msg-->
	    <div class="btn-group">
	        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">分享<span class="caret"></span></a>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	            <li><a tabindex="-1" href="#">心情分享</a></li>
	            <li><a tabindex="-1" href="#">教學日誌</a></li>
	            <li><a tabindex="-1" href="#">教學週誌</a></li>
	        </ul>
	    </div>
	    
	    <div class="btn-group">
	        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">提問<span class="caret"></span></a>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	            <li><a tabindex="-1" href="#">教學方法</a></li>
	            <li><a tabindex="-1" href="#">班級經營</a></li>
	            <li><a tabindex="-1" href="#">學生輔導</a></li>
	            <li><a tabindex="-1" href="#">學校行政</a></li>
	            <li><a tabindex="-1" href="#">年級/科目</a></li>
	        </ul>
	    </div>
		
		<div class="btn-group">
	        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">檔案上傳<span class="caret"></span></a>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				<li><a tabindex="-1" href="#">會議記錄</a></li>
	            <li><a tabindex="-1" href="#">教學企劃</a></li>
	            <li><a tabindex="-1" href="#">教材檔案</a></li>
	            <li><a tabindex="-1" href="#">學校行政</a></li>
	            <li><a tabindex="-1" href="#">教學成果</a></li>
	        </ul>
	    </div>
	
					<button style="margin-left:0px" type="button">選擇檔案</button>
					
	    <input style="margin-left:175px" type="submit" class="btn btn-primary" value="送出">

	</div>

	</div>

{% endblock %}