{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}


{% block content %}
<div class="panel panel-default">
      <div class="panel-heading"><h4>更改{% blocktrans with profile.user.username as username %} {{ username }}{% endblocktrans %} 的密碼</h4></div>
        <div class="panel-body">
            <!--<fieldset>
              {% csrf_token %}
              <p><label for="id_old_password" class="col-lg-2 control-label">原始密碼:</label> <input id="id_old_password" name="old_password" type="password"></p>
              <p><label for="id_new_password1" class="col-lg-2 control-label">新密碼:</label> <input id="id_new_password1" name="new_password1" type="password"></p>
              <p><label for="id_new_password2" class="col-lg-2 control-label">確認新密碼:</label> <input id="id_new_password2" name="new_password2" type="password"></p>
            </fieldset>
            <button class="btn" type="button"><a href="{% url 'userena_profile_detail' user.username %}">取消</a></button>
            <input class="btn btn-primary"type="submit" value="{% trans "確定更改" %}" />
        </div>-->
  <form action="" method="post" id="password_change_form">
    {% csrf_token %}
    <fieldset>
      <legend>{% trans "Change Password" %}</legend>
      {{ form.as_p }}
    </fieldset>
    <input type="submit" value="{% trans "Change password" %}" />
  </form>
</div>
{% endblock %}