{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
  <div class="white-box">
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
        <ul id="box-nav">
          {% block profile_navigation_items %}
            <li><a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a></li>
            <li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></li>
            <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
            <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}

  <div class="panel-heading">{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}</div>
    <div class="panel-body">
        <form class="form-horizontal">
        <fieldset>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">姓名</label>
            {% if profile.user.get_full_name %}
              <dd>{{ profile.user.get_full_name }}</dd>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">帳號</label>
            {% if profile.account %}
              <dd>{{ profile.account }}</dd>
            {% endif %}
        </div>

        <div class="form-group"><!--email-->
            <label for="inputphone" class="col-lg-2 control-label">email</label>
            {% if profile.user.email and not hide_email %}
              <dd>{{ profile.user.email }}</dd>
            {% endif %}
        </div>
        <div class="form-group"><!--電話-->
            <label for="inputphone" class="col-lg-2 control-label">聯絡電話</label>
            {% if profile.phone_number %}
              <dd>{{ profile.phone_number }}</dd>
            {% endif %}
        </div>
        <div class="form-group"><!--地區-->
            <label for="inputplace" class="col-lg-2 control-label">服務地區</label>
            {% if profile.school %}
              <dd>{{ profile.school }}</dd>
            {% endif %}
        </div>
        <div class="form-group"><!--簡介-->
            <label for="textArea" class="col-lg-2 control-label">簡介</label>
            <div class="col-lg-10">
                {% if profile.school %}
                  <dd>{{ profile.description }}</dd>
                {% endif %}
                <span class="help-block">更新自己的履歷或簡介，讓大家更認識你吧!</span>
            </div>
        </div>
      
        </fieldset>
        </form>
    </div>
{% endblock %}   
