{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "編輯個人資訊｜TFT支持系統" %}{% endblock %}

{% block content_title %}{% endblock %}

<head>
  {% load static from staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <!-- Bootstrap -->
  <link rel="shortcut icon" href="{% static 'img/TFTslogo.gif' %}" type="image/jpg">
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>

</head>

{% block content %}
<div class="panel panel-default">
      <div class="panel-heading">{% blocktrans with profile.user.username as username %} {{ username }}{% endblocktrans %}的個人資料編輯頁面</div>
        <div class="panel-body">
            <form action="" enctype="multipart/form-data" method="post">
              {% csrf_token %}
                {{ form.as_p }}
              <input type="submit" value="{% trans "Save changes" %}" />
            </form>
        </div>
</div>
{% endblock %}