{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}
  <div class="white-box">
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
      {% endif %}
    {% endblock %}
    
<div class="panel panel-default">
      <div class="panel-heading">{% blocktrans with profile.user.username as username %} {{ username }}{% endblocktrans %} 的基本資料<a href="{% url 'userena_profile_edit' user.username %}" align="right">{% trans " (編輯)" %}</a></div>
    <div class="panel-body">
        <form class="form-horizontal">
        <fieldset>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">姓名</label>
            {% if profile.name %}
              <dd>{{ profile.name }}</dd>
            {% endif %}
        </div>
        

        <div class="form-group"><!--email-->
            <label for="inputphone" class="col-lg-2 control-label">email</label>
            {% if profile.user.email and not hide_email %}
              <dd>{{ profile.user.email }}<a href="{% url 'userena_email_change' user.username %}">{% trans "（更改登入信箱）" %}</a></dd>
              <dd></dd>
            {% endif %}
        </div>
        <div class="form-group"><!--電話-->
            <label for="inputphone" class="col-lg-2 control-label">聯絡電話</label>
            {% if profile.phone_number %}
              <dd>{{ profile.phone_number }}</dd>
            {% endif %}
        </div>
        <div class="form-group"><!--地區-->
            <label for="inputplace" class="col-lg-2 control-label">服務地區</label>
            {% if profile.school %}
              <dd>{{ profile.school }}</dd>
            {% endif %}
        </div>
        <div class="form-group"><!--簡介-->
            <label for="textArea" class="col-lg-2 control-label">簡介</label>
            <div class="col-lg-10">
                {% if profile.school %}
                  <dd>{{ profile.description }}</dd>
                {% endif %}
            </div>
        </div>
        <div class="form-group"><!--更改密碼-->
            <label for="textArea" class="col-lg-2 control-label">更改密碼</label>
            <div class="col-lg-10">
              <a href="{% url 'userena_password_change' user.username %}">{% trans "前往更改密碼" %}</a>
            </div>
        </div>
      
        </fieldset>
        </div>
  </div>
        </form>
    </div>
{% endblock %}   
