{% extends 'landing_base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}
  {% trans "登入｜TFT支持系統" %}
{% endblock %}
{% block meta %}
  {% load static from staticfiles %}
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
{% endblock %}

<!--LOGO-->

{% block body %}
<div class = "container" align = "center" color="#FFFFFF" style="width:250px">
  <div align = "center">
  <form action="" method="post" class="form-signin">
   {% csrf_token %}

  <fieldset>
          {{ form.non_field_errors }}
            <p>
            <input style="margin-left:5px;width:230px" class="required" id="id_identification" maxlength="75" name="identification" type="text" placeholder="Email address">
            {{ field.errors }}
            </p>
            <p>
            <input style="margin-left:5px;width:230px" class="required" id="id_password" name="password" type="password" placeholder="Password">
            {{ field.errors }}
            </p>
            <p class="checkbox">
            <label for="id_remember_me"><input id="id_remember_me" name="remember_me" type="checkbox"> Remember me for a month</label>
            </p>
  </fieldset>

    <input class="btn btn-warning btn btn-large btn-block" type="submit" value="{% trans "登入" %}" style="margin-left:5px;width:230px"/>
    <input class="btn btn-warning btn btn-large btn-block" type="submit" value="{% trans "註冊" %}" style="margin-left:5px;width:230px"/>
    <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" color="#000000" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  </form>


</div>
{% endblock %}